@import 'styles/variables.scss';

.mainBlock {
  .title {
    padding-bottom: 5px;
    font-size: 1.25rem;
  }
}

.mainBlock.black {
  color: $colorBlack;
}

.mainBlock.white {
  color: $colorWhite;
}

@media screen and (max-width: 950px) {
  .mainBlock {
    padding-bottom: 20px;
  }
}
