@import 'styles/mixins.scss';

.mainBlock {
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 950px) {
  .mainBlock {
    height: auto;
    padding-top: 40px;
  }
}
