@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.mainBlock {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.leftBlock {
  background-color: $colorBlack;
  border-right: 10px solid $colorOrange;
  display: flex;
  align-items: center;
  width: 410px;
  height: 100%;
  box-shadow: 0px 0px 5px 0px rgb(44, 56, 71);

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

    color: $colorWhite;

    h2 {
      margin-top: 5px;
      font-size: 2rem;
    }
  }

  .list {
    margin-top: 20px;

    li {
      display: flex;
      align-items: center;
      color: rgb(233, 231, 231);
      margin: 7px 0px;
      font-size: 1.15rem;
      font-family: RobotoRegular;
      letter-spacing: 0px;

      svg {
        margin-right: 10px;
        font-size: 1.8rem;
      }
    }
  }
}

.rightBlock {
  position: relative;
  @include flex-center;
  width: 100%;
  padding: 0 20px;
  height: 100%;

  .link {
    position: absolute;
    top: 30px;
    left: 40px;

    svg {
      margin-right: 5px;
      font-weight: 100;
    }
  }

  .form {
    width: 60%;
    min-width: 450px;
  }
}

@media screen and (max-width: 900px) {
  .mainBlock {
    height: auto;
    padding-top: 70px;
  }

  .leftBlock {
    display: none;
  }

  .rightBlock {
    .form {
      display: flex;
      justify-content: center;
      width: 100%;
      min-width: auto;
    }

    .link {
      display: none;
      top: 10px;
      left: 10px;
    }
  }
}
