@import '../../variables.scss';

.mainBlock {
  font-size: 1.2rem;
  margin: 17px 0;
  cursor: pointer;
  transition: color 0.1s;
  color: $colorLightGrey;

  &:hover {
    color: $colorWhite;
  }

  svg {
    margin-right: 10px;
    text-align: center;
    font-size: 1.5rem;
  }

  .link {
    display: flex;
    align-items: center;
  }
}
