@import '../../variables.scss';

.mainBlock {
  margin-bottom: 10px;

  .title {
    border-bottom: 1px solid $colorGrey;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
}

.mainBlock.black {
  color: $colorBlack;
}

.mainBlock.white {
  color: $colorWhite;
}
