@import '../../variables.scss';
@import '../../mixins.scss';

.mainBlock {
  @include flex-center;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logoBlock {
  width: 400px;
  height: 100px;
  background-color: red;
}

.socialsBlock {
  width: 200px;
  height: 100px;
  background-color: red;
}

.buttonsBlock {
  width: 200px;
  height: 100px;
  background-color: red;
}
