@import '../variables.scss';
@import '../mixins.scss';

.mainBlock {
  height: 200px;
  border: 1px solid $colorGrey;
  border-radius: 10px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.246);
  margin-bottom: 30px;
}