@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.mainBlock {
  display: flex;
  width: 420px;
  height: 100%;
  align-items: center;
}

.closeButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 80px;

  &:hover .icon svg {
    transform: rotate(-180deg);
  }

  .icon svg {
    transition: all 0.4s;
    transform: rotate(0deg);
    font-size: 3rem;
    color: $colorWhite;
  }
}

.cart {
  width: 100%;
  background-color: $colorWhite;
  height: 100%;
  box-shadow: 0 0 4px 0 $colorBlack;
}
