@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.mainBlock {
  @include flex-center;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.logoBlock {
}

.socialsBlock {
  width: 200px;
  height: 100px;
  background-color: red;
}

.buttonsBlock {
  width: 200px;
  height: 100px;
  background-color: red;
}
