@import 'styles/variables.scss';
@import 'styles/mixins.scss';
@import 'styles/animations.scss';

.mainBlock {
  transition: all 0.1s;
  @include flex-center;
}

.mainBlock.black {
  background-color: $colorBlack;
  color: $colorWhite;
  z-index: 10000;
  position: relative;

  .hamburger {
    background-color: $colorWhite;
  }

  .header {
    border-bottom: 1px solid $colorDarkGrey;
  }
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.logoBlock {
  display: block;
}

.logoBlockMobile {
  display: none;
}

.buttonContainerMobile {
  display: none;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: $colorBlack;
    margin-left: 0px;
  }
}

.socialsBlock {
  .phone {
    display: flex;
    align-items: center;
    height: 36px;
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  .messanger {
    &:hover {
      animation: hoverMessengers 0.2s ease-in;
    }
  }

  .messengers {
    display: flex;
    justify-content: flex-end;
    height: 36px;
    margin-top: 10px;
  }
}

.buttonsBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .button {
    height: 36px;
    font-size: 1.05rem;
    padding-right: 25px;
    padding-left: 25px;

    svg {
      margin-left: 5px;
      font-size: 1.4rem;
    }
  }

  .buttonContainer:first-child {
    .button {
      width: 100%;
    }
  }

  .buttonContainer:last-child {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;

    .button {
      flex-grow: 1;
    }

    .button:last-child {
      margin-left: 15px;
    }
  }
}

@media screen and (max-width: 950px) {
  .header {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
  }
  .buttonsBlock {
    display: none;
  }

  .logoBlock {
    display: none;
  }

  .logoBlockMobile {
    display: block;
  }

  .buttonContainerMobile {
    display: flex;
  }
}
