@import 'styles/variables.scss';
@import 'styles/mixins.scss';
@import 'styles/animations.scss';

.mainBlock {
  @include flex-center;
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.logoBlock {
}

.socialsBlock {
  .phone {
    display: flex;
    align-items: center;
    height: 36px;
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  .messanger {
    &:hover {
      animation: hoverMessengers 0.2s ease-in;
    }
  }

  .messengers {
    display: flex;
    justify-content: flex-end;
    height: 36px;
    margin-top: 10px;
  }
}

.buttonsBlock {
  .button {
    border: 1px solid $colorOrange;
    border-radius: 50px;
    text-transform: none;
    color: $colorBlack;
    height: 36px;
    font-size: 1.05rem;
    padding-right: 25px;
    padding-left: 25px;
    color: $colorOrange;

    &:hover {
      background-color: $colorLightOrange;
    }

    svg {
      margin-left: 5px;
      font-size: 1.4rem;
    }
  }

  .buttonContainer:first-child {
    .button {
      width: 100%;
    }
  }

  .buttonContainer:last-child {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;

    .button {
      flex-grow: 1;
    }

    .button:last-child {
      margin-left: 15px;
    }
  }
}
