@import 'styles/variables.scss';

.mainBlock {
  display: flex;
  flex-direction: column;

  .logoMobile {
    display: none;
  }

  .logoText {
    display: flex;
    align-items: center;
    height: 36px;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
  }

  .logoBlock {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .container {
    margin-left: 13px;
    width: 160px;
  }

  .button {
    margin-top: 15px;
    padding: 0;
    width: 100%;
    font-weight: bold;
    height: 36px;
    font-size: 1.1rem;

    h4 {
      margin-right: 10px;
    }
  }

  .buttonText {
    display: flex;
    align-items: center;
    height: 40px;
  }

  .white {
    background-color: $colorWhite;
  }
}

@media screen and (max-width: 950px) {
  .mainBlock {
    .logoMobile {
      display: block;
    }

    .logoDesctop {
      display: none;
    }

    .logoText {
      font-size: 1.8rem;
    }

    .container {
      margin-left: 10px;
    }
  }
}
