@import 'styles/variables.scss';
@import 'styles/mixins.scss';
@import 'styles/animations.scss';

.mainBlock {
  @include flex-center;
  position: sticky;
  background-color: $colorWhite;
  top: -2px;
  background-color: $colorWhite;
  z-index: 20;
}

.mainBlock[stuck] {
  box-shadow: 0 3px 5px 0 $colorGrey;
}

.subHeader {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .ul {
    display: flex;

    li:first-child {
      padding-left: 0px;
    }

    li {
      transition: all 0.15s;
      cursor: pointer;
      padding: 2px 7px;
      font-size: 0.95rem;

      &:hover {
        color: $colorOrange;
      }
    }
  }

  .miniLogo {
    position: absolute;
    @include flex-center;
    height: 100%;
  }
}

.menu {
  margin-left: 0;
  transition: all 0.2s;
}

.menu.show {
  padding-left: 45px;
}

.close {
  padding-left: 0px;
}

.cart {
  .button {
    font-size: 1.1rem;
    height: 36px;
    width: 180px;

    .content {
      display: flex;
      align-items: center;
    }

    h4 {
      transition: all 0.2s;
    }

    &:hover {
      .icon {
        display: inline-block;
        animation: defaultShow 0.2s ease-in forwards;
      }

      h4 {
        padding-right: 30px;
      }
    }

    .icon {
      display: none;
      position: absolute;
      right: 30px;
      font-size: 2.1rem;
      margin-left: 5px;
    }
  }
}

@media screen and (max-width: 950px) {
  .mainBlock {
    overflow-x: scroll;
  }

  .cart {
    display: none;
  }

  .subHeader {
    .ul {
      display: flex;
      width: 705px;

      li:first-child {
        padding: 10px 10px;
      }

      li {
        display: flex;
        font-size: 0.9rem;
        background-color: rgb(245, 245, 245);
        border-radius: 20px;
        padding: 10px 10px;
        margin-right: 5px;
        height: 30px;

        h4 {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
