@import 'styles/variables.scss';

.hamburgerBlock {
  margin: 0 auto;
  width: 22px;
  height: 14px;
  position: relative;
}

.hamburgerBlock .bar {
  padding: 0;
  width: 22px;
  height: 2px;
  border-radius: 3px;
  background-color: $colorBlack;
  display: block;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.barOne {
  top: 0;
}

.barTwo,
.barThree {
  top: 6px;
}

.barThree {
  right: 0;
}

.barFore {
  bottom: 0;
}

.hamburger .barOne {
  transform-origin: 5%;
}

.hamburger .barFore {
  transform-origin: 5%;
}

.hamburger.active > .barOne {
  transform: rotate(40deg);
  height: 2px;
  width: 20.5px;
}

.hamburger.active > .barThree {
  transform: rotate(45deg);
  height: 2px;
  background-color: transparent;
}

.hamburger.active > .barTwo {
  transform: rotate(-45deg);
  height: 2px;
  background-color: transparent;
}

.hamburger.active > .barFore {
  transform: rotate(-40deg);
  height: 2px;
  width: 20.5px;
}

///////@at-root

.hamburgerBlock.large {
  margin: 0 auto;
  width: 24px;
  height: 23px;
  position: relative;
}

.hamburgerBlock.large .bar {
  padding: 0;
  width: 24px;
  height: 3px;
  border-radius: 3px;
  display: block;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.barTwo.large,
.barThree.large {
  top: 10px;
}

.hamburger.large.active > .barOne {
  transform: rotate(45deg);
  height: 3px;
  width: 31.5px;
}

.hamburger.large.active > .barThree {
  transform: rotate(45deg);
  height: 3px;
  background-color: transparent;
}

.hamburger.large.active > .barTwo {
  transform: rotate(-45deg);
  height: 3px;
  background-color: transparent;
}

.hamburger.large.active > .barFore {
  transform: rotate(-45deg);
  height: 3px;
  width: 31.5px;
}
