@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.mainBlock {
  @include flex-center;
  background-color: $colorOrange;
  width: 100%;
}

.stock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;

  .text {
    cursor: pointer;
    display: flex;
    align-items: center;

    svg {
      margin-right: 10px;
      font-size: 3rem;
      color: $colorWhite;
    }

    .title {
      font-size: 1.7rem;
      color: $colorWhite;
    }
  }
}

.buttonBlock {
  .button {
    border-radius: 40px;
    text-transform: capitalize;
    font-size: 1.2rem;
    background-color: $colorWhite;
    color: $colorOrange;
    border: none;
    padding-right: 20px;
    padding-left: 20px;

    &:hover {
      background-color: $colorLightOrange;
    }
  }
}

@media screen and (max-width: 490px) {
  .stock {
    height: 60px;

    .text {
      svg {
        font-size: 2rem;
      }

      .title {
        font-size: 1.5rem;
      }
    }
  }

  .buttonBlock {
    .button {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 420px) {
  .stock {
    height: 55px;

    .text {
      .title {
        font-size: 1.1rem;
      }
    }
  }

  .buttonBlock {
    .button {
      font-size: 1rem;
      padding: 5px 15px;
    }
  }
}

@media screen and (max-width: 360px) {
  .stock {
    height: 55px;

    .text {
      svg {
        display: none;
      }
    }
  }
}
