@keyframes defaultShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hoverMessengers {
  0% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes showMiniLogoMenu {
  0% {
    transform: translateX(-45px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.showMiniLogo-enter-active {
  animation: showMiniLogoMenu 0.2s forwards;
}

.showMiniLogo-exit-active {
  animation: showMiniLogoMenu 0.16s ease-in forwards reverse;
}

.showModal-enter-active {
  animation: defaultShow ease-in 0.2s forwards;
}

.showModal-exit-active {
  animation: defaultShow ease-in 0.2s forwards reverse;
}
