@keyframes defaultShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hoverMessengers {
  0% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes showMiniLogoMenu {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes showMobileMenu {
  0% {
    transform: translateY(600px);
    opacity: 0.2;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.showModal-enter-active {
  animation: defaultShow ease-in 0.2s forwards;
  background-color: red;
}

.showModal-exit-active {
  animation: defaultShow ease-in 0.2s forwards reverse;
}

.showModalFast-enter-active {
  animation: showMobileMenu ease-in 0.2s forwards;
}

.showModalFast-exit-active {
  animation: showMobileMenu ease-in 0.2s forwards reverse;
}
