@keyframes defaultShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hoverMessengers {
  0% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes showMiniLogo {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: 48px;
  }
}

@keyframes backMiniLogo {
  0% {
    margin-left: 48px;
  }

  100% {
    margin-left: 0px;
  }
}

@keyframes showMiniLogoMenu {
  0% {
    transform: translateX(-53px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.showMiniLogo-enter-active {
  animation: showMiniLogoMenu ease-in 0.2s forwards;
}

.showMiniLogo-exit-active {
  animation: showMiniLogoMenu ease-in 0.2s forwards reverse;
}
