$colorRed: rgb(255, 33, 33);
$colorPrimary: rgb(47, 90, 247);
$colorGreen: rgb(0, 191, 0);
$colorOrange: rgb(255, 117, 18);
$colorBlack: rgb(27, 27, 27);
$colorGrey: rgb(165, 165, 165);
$colorLightGrey: rgb(214, 214, 214);
$colorWhite: rgb(255, 255, 255);
