$colorRed: rgb(255, 33, 33);
$colorPrimary: rgb(47, 90, 247);
$colorGreen: rgb(0, 191, 0);
$colorDarkOrange: rgb(247, 104, 1);
$colorLightOrange: rgb(255, 245, 240);
$colorOrange: rgb(255, 117, 18);
$colorBlack: rgb(27, 27, 27);
$colorGrey: rgb(183, 183, 183);
$colorDarkGrey: rgb(113, 113, 113);
$colorLightGrey: rgb(186, 186, 186);
$colorWhite: rgb(255, 255, 255);
